.page {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
  width: 600px;
  border: 0.6px solid gray;
}

.rank {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--clr-primary);
  padding: 0.4em 0.5em;
  background-color: var(--clr-pink);
  border-radius: 60%;
}

.image {
  margin-top: 2em;
}

.name {
  font-weight: normal;
}

.ticker {
  margin: -1.3em;
  text-transform: uppercase;
}

.current {
  font-size: 2rem;
  font-weight: 400;
  padding: 1.3em 0 0.5em 0;
  margin: 0;
}

.score_header {
  width: 100%;
  padding-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  border-bottom: 0.5px solid gray;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.bottom span p {
  font-size: 0.785rem;
  font-weight: 300;
  color: rgb(88, 87, 87);
}

.bottom span b {
  font-size: 0.9375rem;
}

.community_header {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.6em;
  padding-bottom: 0.5em;
  border-bottom: 0.5px solid gray;
}
