.coin_rank {
  text-align: center;
}

.coin_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
}

.coin_header {
  font-size: 1rem;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 3px;
}

.coin_symbol {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 200;
  color: var(--clr-ghost);
}

.coin_price {
  text-align: right;
}

.coin_volume {
  text-align: center;
}

.coin_24h {
  text-align: center;
}
.coin_marketcap {
  text-align: end;
  padding-right: 1em;
}

.triangle {
  margin-bottom: -2px;
}

.coin_percent_red {
  text-align: right;
  color: var(--clr-danger);
}

.coin_percent_green {
  text-align: right;
  color: var(--clr-success);
}
.coin_small {
  margin-right: 1px;
  font-size: 14px;
  font-weight: 300;
}
