.coin_container {
  display: flex;
  justify-content: center;
}

.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 0 1em;
  border-bottom: 1px solid #f0f0f0;
  width: 1000px;
}

.coin_row:hover {
  background-color: #fcefee;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.coin_header {
  font-size: 1rem;
  width: 150px;
}

.coin_symbol {
  text-transform: uppercase;
}

.coin_data {
  width: 100%;
  display: flex;
  text-align: right;
  justify-content: space-between;
}

.coin_price {
  width: 110px;
  text-align: right;
}

.coin_volume {
  width: 155px;
}

.coin_marketcap {
  width: 230px;
}

.coin_percent {
  width: 100px;
}

.coin_percent_red {
  color: #f85959;
}

.coin_percent_green {
  color: #17b978;
}
