* {
  box-sizing: border-box;
}

:root {
  --clr-ghost: #b5babb;
  --clr-dark-500: #444343;
  --clr-danger: #f85959;
  --clr-success: #17b978;
  --clr-pink: #fcefee;
  --clr-gray: #f0f0f0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--clr-dark-500);
}

a {
  color: inherit;
  text-decoration: none;
}
